@import "../../params.scss";

.appHeader {
	background: $headerBackgroundColor;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
	color: $headerFontColor;
  position: fixed;
  top: 0;
	width: 100%;

	height: $headerHeightPhone;
	@media #{$desktop} {
		height: $headerHeightDesktop;
	}

	.container {
		@include pageWideContainer();

		.appLogo {
			height: 1.5rem;
			pointer-events: none;
		}

		.navigation {
			ul,
			li {
				display: inline-block;
				padding-left: 0;
			}

			li {
				list-style-type: none;
				margin-right: 1rem;
			}
		}
	}
}
