[Unit]
Description=Application
After=docker.service containerd.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/app/ops
ExecStart=/usr/bin/docker-compose -p app up -d --force-recreate
ExecStop=/usr/bin/docker-compose -p app down --remove-orphans

[Install]
WantedBy=multi-user.target
